<div class="modular-row callout">
    <div class="container">
        <div class="thank-you center">
            <h2><strong>Thank you for your interest in partnering with MOWEDE</strong></h2>
            <p style="margin: 40px 0 60px 0">A member from our partnership and alliances team will be in contact with you soon.</p>
            <h3><strong>Learn more about MoWeDe</strong></h3>
            <div class="row email-phone-row">
                <div class="col-xs-6">
                    <div class="row phone-popup">
                            <p>+84 2363 655 336</p>
                            <img src="{{ base_url_absolute }}/user/themes/bootstrap/assets/phone-popup.png">
                    </div>
                </div>
                    <div class="col-xs-6">
                        <div class="row email-popup">
                            <img src="{{ base_url_absolute }}/user/themes/bootstrap/assets/email-popup.png">
                            <p><a href="mailto:sales@mowede.com">sales@mowede.com</a></p>
                    </div>
                </div>
            </div>
            <div>
                <p><i>By submitting this form, you agree that you have read and understand MoWeDe's Privacy Policy. You can Opt-Out of communications at any time. We respect your privacy.</i></p>
            </div>            
        </div>
    </div>
</div>